.Sketches {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.SketchHolder {
    height: 300px;
    width: 300px;
    margin: 2% 10% 2% 10%;
    border-radius: 5%;
}

.SketchHolder img {
    border: 1px solid #ef6034;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.SketchHolder a {
    border-radius: inherit;
}
