.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(18px + 2vmin);
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  margin: 4% 40% 5% 40%;
}

.App-footer a {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}